@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}

.nav-menu .active {
    background: transparent;
    text-decoration: underline;
    font-weight: 600;
}

.admin-aside .active {
    font-weight: 500;
    color: rgba(0, 0, 204, 0.856);
}
.member-aside .active {
    font-weight: 500;
    color: rgba(0, 0, 204, 0.856);
}
.user-aside .active {
    font-weight: 500;
    color: rgba(0, 0, 204, 0.856);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
